In [13]:
import pandas as pd

In [14]:
import re 
pd.set_option("display.max_colwidth", 200)
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk 
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline
import warnings; warnings.simplefilter('ignore')

In [15]:
train  = pd.read_csv('train.csv', encoding =('ISO-8859-1'),low_memory =False)

In [16]:
test = pd.read_csv("test.csv", encoding =('ISO-8859-1'),low_memory =False)

In [17]:
test

,ItemID,SentimentText
0,1,is so sad for my APL friend.............
1,2,I missed the New Moon trailer...
2,3,omg its already 7:30 :O
3,4,.. Omgaga. Im sooo im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...
4,5,i think mi bf is cheating on me!!! T_T
...,...,...
299984,299996,"@martine2323 'Morning, Petal - work brought me here (banking IT). First Holland, then here. And I just stayed... and stayed..."
299985,299997,"@martinetrene Hello,little bird! i finally started on Rick's movie this morning &amp; got to the part where you are about to save the day! &lt;3"
299986,299998,@MartinezMayra I got u at work when I go buy one u know ima get u one
299987,299999,@martinfaux He certainly gives good interview
299988,300000,@martinfaux we've the feedback about our browser compatibility story in v3 loud and clear

In [18]:
train

,ItemID,Sentiment,SentimentText
0,1,0,is so sad for my APL friend.............
1,2,0,I missed the New Moon trailer...
2,3,1,omg its already 7:30 :O
3,4,0,.. Omgaga. Im sooo im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...
4,5,0,i think mi bf is cheating on me!!! T_T
...,...,...,...
99984,99996,0,@Cupcake seems like a repeating problem hope you're able to find something.
99985,99997,1,"@cupcake__ arrrr we both replied to each other over different tweets at the same time , i'll see you then, Duno where the hell Kateyy is!"
99986,99998,0,@CuPcAkE_2120 ya i thought so
99987,99999,1,@Cupcake_Dollie Yes. Yes. I'm glad you had more fun with me.
99988,100000,1,@cupcake_kayla haha yes you do

In [19]:
# Columns in data

train.columns

Index(['ItemID', 'Sentiment', 'SentimentText'], dtype='object')

In [20]:
# length of dataset

print("Length oif data is",len(train))

Length oif data is 99989

In [21]:
import os


def remove_empty_lines(filename):
    if not os.path.isfile(filename):
        print("{} does not exist ".format(filename))
        return
    with open(tweet) as filehandle:
        lines = filehandle.readlines()

    with open(tweet, 'w') as filehandle:
        lines = filter(lambda x: x.strip(), lines)
        filehandle.writelines(lines)